spring:
  application:
    name: app
  datasource:
    url: jdbc:h2:mem:testdb;TIME ZONE=Europe/Malta
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true

app.timezone: Europe/Malta
